DATABASE_HOST=db
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_PORT=5432
DATABASE_NAME=smean_db

# for the command npm run start:dev, use the following settings
# DATABASE_HOST=localhost
# DATABASE_USER=postgres
# DATABASE_PASSWORD=urpassword
# DATABASE_PORT=5432
# DATABASE_NAME=postgres


# When connecting with PgAdmin, use the following credentials:
# Host: localhost
# Port: 5433
# Username: postgres
# Password: password
# Database: postgres

# Debugging settings
DEBUG=true
LOG_LEVEL=debug
PORT=3000